@import url('https://fonts.googleapis.com/css2?family=Iceland&display');

:root {
  --black: #161616;
  --gray: #646464;
  --white: #D8D8D8;
  --top: #CC9543;
  --red: #D80000;
  --ardor: #FF8000;
}

* {
  box-sizing: border-box;
  color: var(--white);
}

html {
  background-color: var(--black);
}

footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: var(--red);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.header {
  width: 100%;
}

.vs-header {
  width: 100%;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: 5px;
  font-size: 2rem;
  font-family: 'Iceland';
}

.vs-header-container {
  width: 100%;
}

.trident {
  height: 2rem;
}

.o-slash {
  color: var(--red);
}

.odin:hover {
  color: var(--top);
}

.popups {
  width: 45%;
  font-size: large;
  position: fixed;
  top: 1%;
  z-index: 1;
  border-radius: 3px;
  gap: 3px;
}

.popup {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}

.error {
  background: repeating-linear-gradient(
    45deg,
    #d8000064,
    #d8000064,
    #16161664,
    #16161664);
  /* background-color: #D8000064; */
}

.warning {
  background: repeating-linear-gradient(
    45deg,
    #d8d80064,
    #d8d80064,
    #16161664,
    #16161664);
}